<form  [formGroup]="mForm" class="post-form">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="favicon.ico" class="avatar"  alt=""/>
            </div>
            <mat-card-title>Send Image Message</mat-card-title>
            <mat-card-subtitle>Message</mat-card-subtitle>
        </mat-card-header>

        <mat-progress-bar *ngIf="submitted" [value]="uploadProgress$ | async" mode="determinate">
        </mat-progress-bar>
        <mat-card-content>
            <div class="row">

                <div class="col-md-6">
                    <img
                            *ngIf="mImagePreview"
                            [src]="mImagePreview"
                            alt="Cute Kitty Picture"
                            class="img-fluid"
                    />
                </div>
                <div class="row col-md-6">

                    <mat-form-field appearance="outline" >
                        <mat-label>Select a Image</mat-label>
                        <ngx-mat-file-input formControlName="photo" placeholder="Basic outline placeholder">
                        </ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                        <mat-error *ngIf="mForm.controls['photo']?.hasError('required')">
                            Please select an image
                        </mat-error>
                        <mat-error *ngIf="mForm.controls['photo']?.hasError('image')">
                            Enter a valid image                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Title</mat-label>
                        <textarea
                                formControlName="desc"
                                matInput
                                placeholder="Description">

                        </textarea>
                        <mat-error *ngIf="mForm.controls['desc'].hasError('required')">
                            You <strong>SHOULD</strong> enter description
                        </mat-error>
                    </mat-form-field>


                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button
                    (click)="postKitty()"
                    [disabled]="mForm.invalid || submitted"
                    color="primary"
                    mat-raised-button
            >
                Upload Image
            </button>
        </mat-card-actions>
    </mat-card>
</form>
