<mat-card>
    <mat-card-header>
        <mat-card-title>{{testDetails?.testName}}</mat-card-title>
        <mat-card-subtitle> {{(testDetails?.date)?.toDate()|date:'dd-MM-yyyy'}} </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
<!--        <prettyjson [obj]="testDetails?.students"></prettyjson>-->
        <span class="green">Positive: {{testDetails?.positive}}</span>

      &nbsp;  <span class="red">Negative: {{testDetails?.negative}}</span>
        <hr>
        <form [formGroup]="editForm" >

            <!-- Students Section -->
            <h2>Students</h2>
            <div formArrayName="students">
                <table style="overflow-x:auto;"  class="handset-table">
                <tr>
                    <th>Name</th>
                    <th>RollNo</th>
                    <th>Total</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>Marks Obtained</th>
                </tr>

                <tr *ngFor="let studentGroup of studentFormArray?.controls; let i = index" [formGroupName]="i">
                    <td>{{studentGroup.get('name')?.value!}}</td>
                    <td>{{ studentGroup.get('rollNo')?.value}}</td>
                    <td>{{ studentGroup.get('totalMarks')?.value }}</td>
                    <td>   <!--                            <label for="correct">Marks&nbsp; &nbsp;</label>-->
                     <input type="text" [formControlName]="'rightAnswers'" (input)="onInputChanged(studentGroup.get('rightAnswers'))">

                        <div class="error-message" *ngIf="studentGroup.get('rightAnswers')?.hasError('notANumber')">
                            Marks should be an integer
                        </div></td>
                    <td>
                        <!--                            <label for="correct">Marks&nbsp; &nbsp;</label>-->
                        <input type="text" [formControlName]="'wrongAnswers'" (input)="onInputChanged(studentGroup.get('wrongAnswers'))">

                        <div class="error-message" *ngIf="studentGroup.get('wrongAnswers')?.hasError('notANumber')">
                            Marks should be an integer
                        </div>
                    </td>
                    <td>   <!--                            <label for="correct">Marks&nbsp; &nbsp;</label>-->
                        <input type="text" [formControlName]="'correct'" (input)="onInputChanged(studentGroup.get('correct'))">

                        <div class="error-message" *ngIf="studentGroup.get('correct')?.hasError('notANumber')">
                            Marks should be an integer
                        </div></td>

                </tr>
            </table>
            </div>

        </form>
    </mat-card-content>
<!--<prettyjson [obj]="editForm.getRawValue()"> </prettyjson>-->
    <div class="text-center m-3">
        <button mat-raised-button color="primary" type="submit" (click)="saveChanges()">Save</button>&nbsp;
        <button mat-raised-button color="warn" routerLink="/tests">Cancel</button>
    </div>
</mat-card>
