<div class="container mt-4 p-5">
    <h1>{{mode}} Student</h1>
    <div class="row" [formGroup]="form">
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>
                Student Name
            </mat-label>
            <input matInput formControlName="studentName">
<!--            <mat-error *ngIf="StudentName.invalid  &&  (StudentName.touched || StudentName.dirty)">-->
                <mat-error style="color: red;" *ngIf="StudentName.errors?.required">*It is Required.</mat-error>
                <mat-error style="color: red;" *ngIf="StudentName.errors?.pattern">*Enter Only Character.</mat-error>
<!--            </mat-error>-->
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>
                Mobile Number
            </mat-label>
            <input matInput formControlName="studentNumber">
            <mat-error *ngIf="StudentNumber.invalid  &&  (StudentNumber.touched || StudentNumber.dirty)">
            Invalid Input </mat-error>

                <mat-error style="color: red;" *ngIf="StudentNumber.errors?.required">*It is Required.</mat-error>
                <mat-error style="color: red;" *ngIf="StudentNumber.errors?.pattern">*Enter Only Character.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>
                Roll Number
            </mat-label>
            <input matInput formControlName="rollNo">
            <mat-error *ngIf="RollNo.invalid  &&  (RollNo.touched || RollNo.dirty)">
                <mat-error style="color: red;" *ngIf="RollNo.errors?.required">*It is Required.</mat-error>
                <mat-error style="color: red;" *ngIf="RollNo.errors?.pattern">*Enter Only Character.</mat-error>
            </mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>
                Fathers Number
            </mat-label>
            <input matInput formControlName="parentsNumber">
            <mat-error *ngIf="ParentsNumber.invalid  &&  (ParentsNumber.touched || ParentsNumber.dirty)">
                <mat-error style="color: red;" *ngIf="ParentsNumber.errors?.required">*It is Required.</mat-error>
                <mat-error style="color: red;" *ngIf="ParentsNumber.errors?.pattern">*Enter Only Character.</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>
                Select Batch
            </mat-label>
            <mat-select formControlName="batchName">
                <mat-option *ngFor="let b of (batch$|async)" [value]="b.className">{{b.className}}</mat-option>
            </mat-select>
            <mat-error *ngIf="BatchName.invalid  &&  (BatchName.touched || BatchName.dirty)">
                <mat-error style="color: red;" *ngIf="BatchName.errors?.required">*It is Required.</mat-error>
                <mat-error style="color: red;" *ngIf="BatchName.errors?.pattern">*Enter Only Character.</mat-error>
            </mat-error>
        </mat-form-field>

    </div>
    <div class="text-center" >
    <button mat-raised-button color="primary" (click)="Submit()">Submit</button> &nbsp;
        <button mat-raised-button color="warn" (click)="mDialogRef.close()">Cancel</button> &nbsp;

    </div>
</div>
