<div class="container-fluid mt-2">
    <h1>Add Attendance</h1>
    <div class="row">
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-label> Select Batch</mat-label>
            <mat-select [(ngModel)]="batchSelected" (selectionChange)="onBatchSelected($event)">
                <mat-option *ngFor="let b of (batches$|async)" [value]="b.className">{{b.className}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="d-flex flex-row col-md-4">

            <mat-form-field>
                <mat-label> Select Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="onDateChange($event)">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-icon-button (click)="search()" class="col-md-4 col-sm-4" color="primary">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    <section>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let element;let i =index"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="batchName">
                <th mat-header-cell *matHeaderCellDef> BatchName</th>
                <td mat-cell *matCellDef="let element"> {{element.batchName}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon>check</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
<!--                    {{element.status}}-->
<!--                    {{element.checked}}-->
                    <mat-slide-toggle
                                      color="primary"
                                      class="example-margin"
                                      [(ngModel)]="element.checked"
                                     >
                        <span>{{getStatus(element.checked)}}</span>
                    </mat-slide-toggle>
                    <!--                    <mat-radio-group aria-label="Select an option" [(ngModel)]="element.status">-->
                    <!--                        <mat-radio-button value="Present">Present</mat-radio-button>-->
                    <!--                        <mat-radio-button value="Absent">Absent</mat-radio-button>-->
                    <!--                    </mat-radio-group>-->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!--<prettyjson [obj]="attendanceData"></prettyjson>-->
    </section>
    <div class="d-flex justify-content-center mt-2">
        <button mat-raised-button color="primary" (click)="Submit()">Submit</button>
    </div>
</div>
