/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.header{
   font-size: 70px;
   font-weight: 600;
   font-family: 'Roboto', sans-serif;
   color: #b393d3;
   text-transform: uppercase;
   text-shadow: 1px 1px 0px #957dad,
   1px 2px 0px #957dad,
   1px 3px 0px #957dad,
   1px 4px 0px #957dad,
   1px 5px 0px #957dad,
   1px 6px 0px #957dad,
   1px 10px 5px rgba(16, 16, 16, 0.5),
   1px 15px 10px rgba(16, 16, 16, 0.4),
   1px 20px 30px rgba(16, 16, 16, 0.3),
   1px 25px 50px rgba(16, 16, 16, 0.2);
}
.mdc-text-field{
   /*padding: 0.4em 0px;*/
   /*top: -1.5em;*/
}

.mat-mdc-text-field-wrapper  {

 /*padding: 0.4em 0px;*/
 /*  top: -1.5em;*/
}
