/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@include mat.core();


$primary: mat.define-palette(mat.$blue-palette); //Definging primary color
$button-primary: mat.define-palette(mat.$teal-palette); //Definging primary color

$secondary: mat.define-palette(mat.$amber-palette); //Defining accent color
$button-secondary: mat.define-palette(mat.$amber-palette); //Defining accent color

$theme: mat.define-light-theme((
        color:(primary:$primary, accent:$secondary),
        density:-1
));

$color-config: mat.get-color-config($theme);

// Get the primary color palette from the color-config.
$primary-palette: map.get($color-config, 'primary');
$warn-palette: map.get($color-config, 'warn');
$colorPrimary:mat.get-color-from-palette($primary-palette);
$colorWarn:mat.get-color-from-palette($warn-palette);



$button-theme: mat.define-light-theme((
        color:(primary:$button-primary, accent:$button-secondary),
        density:-2
));

// Apply the dark theme by default
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
//@include mat.button-theme($button-theme);
@include mat.button-density(-1);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.header{
   font-size: 70px;
   font-weight: 600;
   font-family: 'Roboto', sans-serif;
   color: #b393d3;
   text-transform: uppercase;
   text-shadow: 1px 1px 0px #957dad,
   1px 2px 0px #957dad,
   1px 3px 0px #957dad,
   1px 4px 0px #957dad,
   1px 5px 0px #957dad,
   1px 6px 0px #957dad,
   1px 10px 5px rgba(16, 16, 16, 0.5),
   1px 15px 10px rgba(16, 16, 16, 0.4),
   1px 20px 30px rgba(16, 16, 16, 0.3),
   1px 25px 50px rgba(16, 16, 16, 0.2);
}
table{
   max-height: 600px;
   overflow: auto;

}
.example-container {
   height: 600px;
   overflow: auto;
}
